<form action="/events/create" method="post">
  <input class="field" type="text" name="event[organizer_name]" placeholder="name">
  <input class="field" type="text" name="event[organizer_email]" placeholder="email">
  <input class="field" type="text" name="event[title]" placeholder="event title">
  <input class="field" type="text" name="event[date]" placeholder="event date">
  <input type="submit" value="Create Event">
</form>
