<form action="/events/create" method="post">
  <ul>
    <li><input type="text" name="note[organizer_name]" placeholder="name"></li>
    <li><input type="text" name="note[organizer_email]" placeholder="email"></li>
    <li><input type="text" name="note[title]" placeholder="event title"></li>
    <li><input type="text" name="note[name]" placeholder="event date"></li>
    <li><input type="submit" value="Create Event">
  </ul>
</form>
